---

import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: process.env.PUBLIC_ENV !== 'production' ? "draft" : "published",
  content_type: 'work',
  language: lang
})

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("nl-NL", {dateStyle: "full"}),
    description: story.content.description,
    image: story.content.image.filename,
    slug: story.full_slug,
  }
})

const { blok } = Astro.props

---

<div {...storyblokEditable(blok)} class="py-20">

    <div class="container mx-auto">

        <h2 class="text-lg mb-8">{blok.Title}</h2>

        <ul class="flex gap-8">
          {posts.map(post => (
            <li class="flex-1">
              <a href={`/${post.slug}`} class={`py-20 bg-${blok.background}`}>

                <img src={post.image} class="rounded-lg aspect-[9/12] object-cover">
                
                <h3 class="text-md mt-4">{post.description}</h3>
              </a>
            </li>
          ))}
        </ul>
        
    </div>

</div> 