---

import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';
import { useStoryblokApi } from '@storyblok/astro'

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

// const storyblokApi = useStoryblokApi()
// const { data } = await storyblokApi.get('cdn/stories/config', {
//   version: 'draft',
//   resolve_links: 'url',
//   language: lang
// })
// const headerMenu = data?.story?.content?.header_menu


interface Props {
	title: string;
}

const { title, otherSlug } = Astro.props;


---

<html lang="en">
    <head>
        <title>{title}</title>
    </head>
    <body class="bg-grey text-base">

        <header class="fixed top-0 left-0 right-0 z-10 py-8">

            <div class="container mx-auto">

                <div class="flex content-middle">
                    <div class="grow">
                        <a href={translatePath('/')}>
                            <svg width="86" height="25" viewBox="0 0 86 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.7218 15.7334C17.7218 20.8291 13.6844 24.2259 8.90907 24.2259C4.13374 24.2259 0 20.8281 0 15.7334C0 10.6387 4.03746 7.27243 8.90907 7.27243C13.7807 7.27243 17.7218 10.6692 17.7218 15.7334ZM12.7864 15.7334C12.7864 13.2337 10.8959 11.5673 8.90907 11.5673C6.92228 11.5673 4.93549 13.2337 4.93549 15.7334C4.93549 18.2331 6.82599 19.8995 8.90907 19.8995C10.9921 19.8995 12.7864 18.2655 12.7864 15.7334Z" fill="black"/>
                                <path d="M56.0916 23.747H50.9644V22.4648C49.7146 23.5859 48.0481 24.2275 45.9651 24.2275C41.7026 24.2275 38.1133 20.7983 38.1133 15.7027C38.1133 10.607 41.7026 7.1778 45.9651 7.1778C48.0481 7.1778 49.7146 7.81938 50.9644 8.94054V7.65829H56.0916V23.7461V23.747ZM50.9644 15.7036C50.9644 13.2354 49.1054 11.5374 47.0223 11.5374C44.7791 11.5374 43.1451 13.2363 43.1451 15.7036C43.1451 18.1709 44.7791 19.8697 47.0223 19.8697C49.1054 19.8697 50.9644 18.2033 50.9644 15.7036Z" fill="black"/>
                                <path d="M65.5949 2.9163C65.5949 4.55035 64.3451 5.76872 62.6147 5.76872C60.8844 5.76872 59.666 4.55128 59.666 2.9163C59.666 1.28132 60.8835 0 62.6147 0C64.346 0 65.5949 1.34613 65.5949 2.9163Z" fill="black"/>
                                <path d="M65.1788 7.65924H60.0508V23.747H65.1788V7.65924Z" fill="black"/>
                                <path d="M85.9998 23.747H80.8726V22.4648C79.6228 23.5859 77.9563 24.2275 75.8733 24.2275C71.6108 24.2275 68.0215 20.7983 68.0215 15.7027C68.0215 10.607 71.6108 7.1778 75.8733 7.1778C77.9563 7.1778 79.6228 7.81938 80.8726 8.94054V7.65829H85.9998V23.7461V23.747ZM80.8726 15.7036C80.8726 13.2354 79.0136 11.5374 76.9306 11.5374C74.6873 11.5374 73.0533 13.2363 73.0533 15.7036C73.0533 18.1709 74.6873 19.8697 76.9306 19.8697C79.0136 19.8697 80.8726 18.2033 80.8726 15.7036Z" fill="black"/>
                                <path d="M36.6564 21.3701C36.6564 23.0042 35.4066 24.2225 33.6762 24.2225C31.9459 24.2225 30.7275 23.0051 30.7275 21.3701C30.7275 19.7351 31.945 18.4538 33.6762 18.4538C35.4075 18.4538 36.6564 19.8 36.6564 21.3701Z" fill="black"/>
                                <path d="M36.471 7.64528H31.6003C31.5984 7.68416 31.5975 7.72212 31.5956 7.761C31.4123 10.9319 28.7793 13.4557 25.5658 13.464V0.142517H20.7368V23.7358H25.5658V18.3328C31.5031 18.3236 36.345 13.5547 36.4719 7.64528H36.471Z" fill="black"/>
                            </svg> 
                        </a>
                    </div>
                    <div class="grow-0 mr-8">
                        <ul class="flex gap-2">
                            <li class={lang === 'nl' ? '' : 'opacity-50'}>
                              <a href={otherSlug && otherSlug !== 'home' ? `/${otherSlug}` : '/'}>NL</a>
                            </li>
                            <li class="opacity-50">/</li>
                            <li class={lang === 'en' ? '' : 'opacity-50'}>
                              <a href={otherSlug && otherSlug !== 'home' ? `/en/${otherSlug}` : '/en'}>EN</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grow-0">
                        <ul class="flex gap-8">

                            <!-- {
                                headerMenu.map((menu) => (
                                  <li>
                                    <a href={menu.link.cached_url} class="hover:text-[#50b0ae]">
                                      {menu.link.story.name}
                                    </a>
                                  </li>
                                ))
                            } -->
                            {lang === 'en' ? (
                                <>
                                    <li><a href={translatePath('/our-work')}>Our work</a></li>
                                    <li><a href={translatePath('/services/')}>Services</a></li>
                                    <li><a href={translatePath('/culture/')}>Culture</a></li>
                                    <li><a href={translatePath('/contact/')}>Contact</a></li>
                                </>
                            ) : (
                                <>
                                    <li><a href={translatePath('/ons-werk')}>Ons werk</a></li>
                                    <li><a href={translatePath('/diensten/')}>Diensten</a></li>
                                    <li><a href={translatePath('/cultuur/')}>Cultuur</a></li>
                                    <li><a href={translatePath('/contact/')}>Contact</a></li>
                                </>
                            )}

                        </ul>
                    </div>
                </div>        
            </div>
        </header>

	    <slot />
    
    </body>
</html>
