---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---

<div {...storyblokEditable(blok)} class="my-24">

    
    <div class="mx-auto px-[30px] mb-24">

        <hr class="mx-auto px-[30px] mb-24 opacity-10"> 

        <div class="grid grid-cols-3 mb-6 items-start">
            <div class="flex-1">
                <h2 class="animate text-sm uppercase ">{blok.Title}</h2>
            </div>
            <div class="flex-1">
                <p class="">{blok.Text}</p>
            </div>
            <div class="flex-1 flex justify-end	">
                <a href="" class="text-link hollow self-end text-medium text-base"><span>Find out more</span></a>
            </div>
        </div>
        
    </div>

    <div class="mx-auto px-[30px]">
        {blok.Items && blok.Items.length > 0 && blok.Items.map(HoverListItem => (
            <div class="grid grid-cols-2 gap-10">
                <div class="flex-1">
                    <p class="text-md">{HoverListItem.Text}</p>
                    <a class="button black absolute self-center -bottom-[30px]" href={HoverListItem.Link.cached_url}>
                        <span>{HoverListItem.Link.title}</span>
                    </a>
                </div>
                <div class="flex-1">
                    <h2 class=" text-xxl mb-6">{HoverListItem.Title}</h2>
                </div>
            </div>
            
        ))}
    </div>

</div>
