---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

import { Image } from 'astro:assets';
import localArrowRight from '../../img/icons/arrow-right.svg';


---

<style>
    .left.active video {
        transform: scale(1) translateY(0);
        z-index: 20;
    } 

    .left video{
        transform: scale(0.5) translateY(10px);
        transform-origin: center;
    }
    .left .inner {
        opacity: 0;
        transition-delay: .25s;
        transform: translateY(50px);
    }
    .left.active .inner {
        opacity: 1;
        transform: translateY(0);
    } 
    .right-title { 
        opacity: .3;
    }
    .right-title.active {
        opacity: 1;
    }

</style>

<div {...storyblokEditable(blok)} class="my-36">

    
    <div class="mx-auto px-[30px] mb-24">

        <hr class="mx-auto px-[30px] mb-24 opacity-10"> 

        <div class="grid grid-cols-3 mb-6 items-start gap-10">
            <div class="flex-1">
                <h2 class="animate text-sm uppercase ">{blok.Title}</h2>
            </div>
            <div class="flex-1">
                <p class="">{blok.Text}</p>
            </div>
            <div class="flex-1 flex justify-end	">
                <a href="" class="text-link flex hollow self-end text-medium text-base font-weight-450">
                  <img src={localArrowRight.src} width="24px" height="24px" alt="Arrow right">
                  <span>Find out more</span>
                </a>
            </div>
        </div>
        
    </div>

    <div class="mx-auto px-[30px]">

        <div class="grid grid-cols-3 gap-10">
            <div class="left-column relative h-100">
              {blok.Items && blok.Items.length > 0 && blok.Items.map((HoverListItem, index) => (
                <div class={`left max-w-[80%] h-auto  absolute ${index === 0 ? 'active' : ''}`}>
                  <video playsinline autoplay loop muted class="-z-1 relative rounded-lg w-full mb-8 transition-slow">
                    <source src={HoverListItem.Media.filename} type="video/mp4" />
                  </video>
                  <div class="inner transition">
                    <p class="text-base">{HoverListItem.Text}</p>
                    <a class="button black  self-center -bottom-[30px]" href={HoverListItem.Link.cached_url}>
                        <span>{HoverListItem.Link.title}</span>
                    </a>
                  </div>
                </div>
              ))}
            </div>
          
            <div class="col-span-2 right-column">
              {blok.Items && blok.Items.length > 0 && blok.Items.map((HoverListItem, index) => (
                <h2 class="text-xxxl text-black right-title transition cursor-pointer" data-item-index={index}>
                  {HoverListItem.Title}
                </h2>
              ))}
            </div>
          </div>
        
    </div>

</div>



<script>

document.addEventListener("DOMContentLoaded", function () {
  const leftItems = document.querySelectorAll(".left-column .left");
  const rightTitles = document.querySelectorAll(".right-column .right-title");

  // Show the first left item and add active class to the first title initially
  leftItems[0].classList.add("active");
  rightTitles[0].classList.add("active");

  rightTitles.forEach((title, index) => {
    title.addEventListener("mouseover", () => {
      leftItems.forEach((item) => {
        item.classList.remove("active");
      });

      rightTitles.forEach((title) => {
        title.classList.remove("active");
      });

      leftItems[index].classList.add("active");
      title.classList.add("active");
    });
  });
});



</script>