---

import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.Text)

const url = blok.Media.filename; // Replace with your actual URL
const fileExtension = url.split('.').pop().toLowerCase();

---


<div {...storyblokEditable(blok)} class={`title-block my-28 `}>

    <div class="mx-auto px-[30px] ">

        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-5">
                {blok.Title ? (
             
                    <h2 class={`text-h4 lg:text-${blok.TitleSize}`}>{blok.Title}</h2>
                ):(null)}
            
                <div class="text-md prose mb-8 " set:html={renderedRichText} />
        
                <p class="text-base">
                    {blok.Subtitle}
                </p>
                {blok.Button ? (
                        <a class="button ml-8 translate-y-3" href={blok.button.cached_url}><span>{blok.buttonText}</span></a>
                ):(null)}
            </div>
            <div class="col-span-6 col-start-7">
                { fileExtension == 'mp4' ? (
                    <video autoplay playsinline muted loop class="w-full object-cover z-index-10 rounded">
                        <source src={blok.Media.filename} type="video/mp4" />
                    </video>
                ) : (
                    <img src={`${blok.Media.filename}/m/1900x0/smart`} lazy="true" class=" w-full  object-cover z-index-10 rounded" />
                )}
            </div>
        </div>

    </div>

</div> 

